<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>扫雷</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="app" >
        <div class="app_top">
            <div class="app_top_box">
                <div class="app_icon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shizhong_f"></use>
                    </svg>
                </div>
                <div v-cloak class="app_words">
                    {{gametime}}秒
                </div>
            </div>
            <div class="app_top_box" @click="newgame">
                <div class="app_icon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-biaoqing-weixiao-tianchong"></use>
                    </svg>
                </div>
            </div>
            <div class="app_top_box">
                <div class="app_icon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zhadan"></use>
                    </svg>
                </div>
                <div v-cloak class="app_words">
                    {{thundernum}}
                </div>
            </div>
        </div>
        <div class="app_con">
            <ul v-for="(item,index) in thunarr">
                <li v-for="(colitem,colindex) in item" @click="clickthun(index,colindex,$event.target)"
                ref="thunlist" @contextmenu.prevent="clickr(index,colindex,$event)">
                    <!-- {{colitem}} -->
                </li>
            </ul>
        </div>
        <div v-show="showorhide" id="showall" ref="showall">
            <div class="showt" ref="showt">
                {{showwords}}
            </div>
            <div class="showz">
                <div @click="newgame">重玩</div>
                <div @click="share">分享</div>
                <!-- <input style="display: none" type="text" name="" id="copyinput" ref="input" value=""> -->
            </div>
        </div>
        <!-- <input id="copyinput" type="text" name="" ref="input" value=""> -->
        
    </div>

    <script src="./css/font_1235511_7ko6gtr9vdm/iconfont.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>
</body>
</html>